// @import '~/commot/material/scss-vars/monitors.scss';
@import 'prismjs-material-theme/sass/oceanic';

$gap: 16;

div.code-toolbar,
pre[class*='language-'], pre {
  width: 100%;
  border-radius: 8px;

  // @media (max-width: #{$md}px) {}

  margin: 0 0 #{$gap}px 0;
  
  // NOTE: Derty hack
  // 1. unnescessary padding in first line
  & > *:first-child {
    padding-left: 0;
  }
  // 2. Last break line (whitespace)
  // & > *:last-child > *:last-child > *:last-child { display: none; }
}
